*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px dashed black;
}

.container{
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 10px;
}

.d-flex{
    display: flex;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    box-shadow: 0 1px 5px black;
}

.header-flex{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-self: center;
    padding: 10px 30px;
}

.info{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2.5rem;
}

.supporto{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2.5rem;
}

.login{
    border: 0;
    background-color: white;
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 10px;
}

.register{
    border: 0;
    background-color: #0061fe;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    margin-right: 10px;
}

.jumbotron{
    background-color: #b4d0e6;
    min-height: 600px;
}

.jumbo{
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 5rem;
    margin-top: 30px;
    padding: 50px 0;
    font-weight: bolder;
}

.jumbo-text{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2rem;
    line-height: 20px;
}

.fa-arrow-down{
    font-size: 3rem;
    margin-top: 2rem;
    padding: 20px 0;
}

.jumbo-img-container{
    width: 70%;
    position: relative;
}

.jumbo-img{
    max-height: 450px;
    position: absolute;
    top: 20;
    left: 0;
}